<div class="jumbotron container-fluid" style="background-image: url(http://images2.alphacoders.com/474/474206.jpg); background-size: 100%;">
  <div class="container">
    <h1>Heroes!</h1>
    <p><a class="btn btn-primary btn-lg" href="/heroes" role="button">Click!</a></p>
  </div>
</div>

<div class="container">
<h1>Meet the team!</h1>
<br>
<div class="row">
  <div class="col-xs-3">
    <img class="img-responsive img-circle" src="http://static.giantbomb.com/uploads/square_medium/8/80045/2483349-7e0qny7.jpg">
    <div class="text-center">
      <h5>Tiny</h5>
      Coming to life as a chunk of stone, Tiny's origins are a mystery on which he continually speculates. He is a Stone Giant now, but what did he use to be? A splinter broken from a Golem's heel? A shard swept from a gargoyle-sculptor's workshop? A fragment of the Oracular Visage of Garthos? A deep curiosity drives him, and he travels the world tirelessly seeking his origins, his parentage, his people. As he roams, he gathers weight and size; the forces that weather lesser rocks, instead cause Tiny to grow and ever grow.
    </div>
  </div>
  <div class="col-xs-3">
    <img class="img-responsive img-circle" src="http://static.giantbomb.com/uploads/square_medium/8/80045/2483350-exnflqw.jpg">
    <div class="text-center">
      <h5>Razor</h5>
      Among the emblematic powers that populate the Underscape, Razor the Lightning Revenant is one of the most feared. With his whip of lightning, he patrols the Narrow Maze, that treacherous webwork of passages by which the souls of the dead are sorted according to their own innate intelligence, cunning and persistence. Drifting above the Maze, Razor looks down on the baffled souls below, and delivers jolts of scalding electricity that both punish and quicken the souls as they decide their own fates, hurrying on toward luminous exits or endlessly dark pits. Razor is the eternal embodiment of a dominating power, abstract and almost clinical in his application of power. Yet he has a lordly air that suggests he takes a sardonic satisfaction in his work.
    </div>
  </div>
  <div class="col-xs-3">
    <img class="img-responsive img-circle" src="http://static.giantbomb.com/uploads/square_medium/8/80045/2420064-10251358594209342.jpg">
    <div class="text-center">
      <h5>Crystal Maiden</h5>
      Born in a temperate realm, raised with her fiery older sister Lina, Rylai the Crystal Maiden soon found that her innate elemental affinity to ice created trouble for all those around her. Wellsprings and mountain rivers froze in moments if she stopped to rest nearby; ripening crops were bitten by frost, and fruiting orchards turned to mazes of ice and came crashing down, spoiled. When their exasperated parents packed Lina off to the equator, Rylai found herself banished to the cold northern realm of Icewrack, where she was taken in by an Ice Wizard who had carved himself a hermitage at the crown of the Blueheart Glacier. After long study, the wizard pronounced her ready for solitary practice and left her to take his place, descending into the glacier to hibernate for a thousand years. Her mastery of the Frozen Arts has only deepened since that time, and now her skills are unmatched.
    </div>
  </div>
  <div class="col-xs-3">
    <img class="img-responsive img-circle" src="http://static.giantbomb.com/uploads/square_medium/8/80045/2420651-keyart_troll.jpg">
    <div class="text-center">
      <h5>Troll Warlord</h5>
      It's an easy thing to offend a troll. A prickly and contentious race, trolls thrive on argument and strife, missing no excuse to raise their voices in dispute. Males grow to maturity in subterranean chambers beneath their matriarch's domicile, feeding and amusing themselves while contributing nothing. Often they stay for years beyond the age of maturity, while the matriarch provides them with sustenance. When young trolls are finally pushed from their sub-chamber, they gather with others of their kind, forming roving gangs of malcontents who complain loudly about all manner of vexation.
As much as trolls love to argue, imagine how rare it is for a troll to be driven from his own kind for being too difficult to get along with. Such was Jah'rakal's fate, a monger troll from deep in the Hoven. So deluded was he, so bitter and abrasive, that even other trolls found his company intolerable. After one particularly vitriolic outburst in which he claimed the lion's share of loot from their latest raid, his cohorts finally snapped. They turned on him, beat him with clubs, and drove him from the encampment. Enraged at his banishment, he returned the next day, armed with steel, and slew them all, one by one. He then swore a blood oath: he would ever after be a fighting force unto himself. Now he roams the world as the Troll Warlord, bitter and angry, the Imperial high commander of an army of one.
    </div>
  </div>
</div>
</div>
